<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--author:starttemplate-->
<!--reference site : starttemplate.com-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title>Login &Resgistration</title>
    <link href="log.css" rel="stylesheet" id="style">
    <!-- Bootstrap core Library -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <!-- Font Awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!-- <script>
//     function disp(){
//         var userName=document.getElementById("userName");
//         axios.post('/user', {
//     userName: userName,
//   })
//   .then(function (response) {
//     console.log(response);
//   })
//   .catch(function (error) {
//     console.log(error);
//   });

    }
    </script> -->
<!-- Page Content -->
<div class="container">
    <form action="http://localhost:3020/users" method="POST">
    <div class="row">
        <div class="col-md-offset-5 col-md-4 text-center "style="position: absolute;
        bottom: -47px;opacity: 2;">
            <h1 class='text-white'> Login</h1>
            <div class="form-login"></br>
                <h4>Secure Login</h4>
                </br>
                <input type="text" id="userName" name="loguserName"class="form-control input-sm chat-input" placeholder="username"/>
                </br></br>
                <input type="password" id="userPassword" name="logpassword"  class="form-control input-sm chat-input" placeholder="password"/>
                </br></br>
                <div class="wrapper">
                        <span class="group-btn">
                                <input type="submit" id="level" value="Login"/>
                        </span>
                </div>
            </div>
        </div>
    </div>
</form>
    <div class="row"><form >
        <div class="right "style="position: absolute;
        bottom: -231px;left: 678px;">
            <h1 class='text-white'>Register Here</h1>
            <div class="form-login"></br>
                </br>
                <input type="text" id="userName" name="userName"class="form-control input-sm chat-input" placeholder="username"/>
                </br></br>
                <input type="text" id="password"name="password" class="form-control input-sm chat-input" placeholder="password"/>
                </br></br>
                <input type="text" id="email" name="email"class="form-control input-sm chat-input" placeholder="Email"/>
                </br></br>
                <input type="text" id="city" name="city" class="form-control input-sm chat-input" placeholder="City"/>
                </br></br>
                <input type="text" id="instrument" name="instrument"class="form-control input-sm chat-input" placeholder="Instrument"/>
                </br></br>
                <input type="text" id="phoneNumber" name="phoneNumber"class="form-control input-sm chat-input" placeholder="Mobile"/>
                </br></br>
                <input type="text" id="genre" name="genre"class="form-control input-sm chat-input" placeholder="Genre"/>
                </br></br>
                <input type="text" id="level" name="level"class="form-control input-sm chat-input" placeholder="Level"/>
                </br></br>
                <div class="wrapper">
                        <span class="group-btn">
                                <input type="submit" id="level" value="Register"/>

                            
                        </span>

                </div>
            </div>
        </div>
        </form>
    </div>
    </br></br></br>
    <!--footer-->
    <div class="footer text-white text-center">
    </div>
    <!--//footer-->
</div>
</body>
</html>
